.image-label {
  text-align: center;
  width: 100%;
  background-color: #0d6efd;
  height: 31px;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #0d6efd;
}

.image-label:hover {
  background-color: #0a58ca;
  border: 1px solid #0a58ca;
}

.card {
  width: 100px;
  border: none;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.card-img {
  height: 100px;
}

.main-image {
  border-bottom: 1px dashed #0d6efd;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}